[submodule "repos/mole"]
	path = repos/mole
	url = https://github.com/mashenjun/mole
[submodule "helper/ticat.helper.bash"]
	path = helper/ticat.helper.bash
	url = https://github.com/innerr/ticat.helper.bash
[submodule "helper/tiup.helper.bash"]
	path = helper/tiup.helper.bash
	url = https://github.com/innerr/tiup.helper.bash
[submodule "repos/tikv"]
	path = repos/tikv
	url = https://github.com/NingLin-P/tikv
	branch = br-text
[submodule "repos/tidb"]
	path = repos/tidb
	url = https://github.com/NingLin-P/tidb
	branch = br-text
